# Виртуальное окружение (НЕ НАДО загружать его на GitHub!)
venv/
env/
.env/

# База данных (SQLite)
db.sqlite3

# Кэш Python
__pycache__/
*.pyc

# Настройки с секретами (если выносили ключ в .env)
config.py

# Папка с медиафайлами (загруженные пользователем картинки)
media/

# IDE (если используете PyCharm, VS Code и т.д.)
.idea/
.vscode/